body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url(/src/img/boxer.jpg);
  background-size: cover;
  backdrop-filter: blur(30px);
  color: #fff;
}
header {
  text-align: center;
  padding: 0 1em;
}

.main-container {
  background-color: hsla(0, 0%, 95%, .1);
  padding: 0 1em;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

}
.week-days-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar-container {
  width: 100%;
  margin-bottom: 1em;
}
.week-days {
  text-align: center;
  padding-top: 1em;
}
article {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.days {
  display: flex;
  height: calc(100vw/7);
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-start;
  border: .5px solid gray;
}
.month-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-arrow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 4em;
  height: 3em;
  background-image: linear-gradient(to right, white, transparent 95%);
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  justify-self: flex-start;
  color: hsl(250, 80%, 70%);
  font-weight: bold;
}
.right-arrow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 4em;
  height: 3em;
  background-image: linear-gradient(to left, white, transparent 95%);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  justify-self: flex-end;
  color: hsl(250, 80%, 70%);
  font-weight: bold;
}
.key-container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 0 1em;
}
.key-container .color-cue {
  width: 2em;
  height: 2em;
}
.key {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  gap: 1em;
}
.key:nth-of-type(1) .color-cue {
  background-color: hsl(300, 80%, 70%);
}
.key:nth-of-type(2) .color-cue {
  background-color: hsl(280, 80%, 70%);
}
.key:nth-of-type(3) .color-cue {
  background-color: hsl(250, 80%, 70%);
}
.day-count {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}