body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url(/src/img/boxer.jpg);
  background-size: cover;
  backdrop-filter: blur(30px);
  color: #fff;
}
header {
  text-align: center;
  padding: 0 1em;
}

.main-container {
  background-color: hsla(0, 0%, 95%, .1);
  padding: 0 1em;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

}
.week-days-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar-container {
  width: 100%;
  margin-bottom: 1em;
}
.week-days {
  text-align: center;
  padding-top: 1em;
}
article {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.days {
  display: flex;
  height: calc(100vw/7);
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-start;
  border: .5px solid gray;
}
.month-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.month-title h2 {
  margin: 1em;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right-arrow, .left-arrow {
  color: hsl(250, 0%, 100%);
  font-size: 3em;
  font-weight: bold;
  cursor: pointer;
}
.right-arrow:hover, .left-arrow:hover {
  color: hsl(250, 80%, 70%);

}
.key-container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 0 1em;
  border-top: 1px solid black;
}
.key-container-title, .key-container-info {
  width: 100%;
  text-align: center;
}
.key-header {
  margin: .5em 0;
  padding: 0;
}
.key-header-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.key-container .color-cue {
  width: 2em;
  height: 2em;
  /* justify-self: flex-start; */
}
.key {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}
.key h3 {
  background: #040404;
  padding: .5em;
  margin: 0;
}
.key span {
  justify-self: flex-end;
}
.key:nth-of-type(2) .color-cue {
  background-color: hsl(300, 80%, 70%);
  border-bottom: .5px solid hsl(300, 80%, 70%);
}
.key:nth-of-type(3) .color-cue {
  background-color: hsl(280, 80%, 70%);
  border-bottom: .5px solid hsl(280, 80%, 70%);
}
.key:nth-of-type(4) .color-cue {
  background-color: hsl(250, 80%, 70%);
  border-bottom: .5px solid hsl(250, 80%, 70%);
}
.key:nth-of-type(2){
  border-bottom: .5px solid hsl(300, 80%, 70%);
}
.key:nth-of-type(3) {
  border-bottom: .5px solid hsl(280, 80%, 70%);
}
.key:nth-of-type(4) {
  border-bottom: .5px solid hsl(250, 80%, 70%);
}
#color3, #color2, #color1 {
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* appearance: none; */
  width: 2.5em;
  height: 2.5em;
  border: none;
  cursor: pointer;
  opacity: 0;
}

.day-count {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.clear-cache input {
  background-color: transparent;
  color: #fff;
}